/expreader-server/catalina/runLog/*.log
/expreader-server/.idea/*.xml
/expreader-server/.idea/libraries/*.xml
/expreader-server/expreader-server-api/*.iml
/expreader-server/expreader-server-api/target/classes/com/chinafocus/expreaderserver/api/*.class
/expreader-server/expreader-server-common/target/classes/com/chinafocus/expreaderserver/common/*.class
/expreader-server/expreader-server-common/target/classes/com/chinafocus/expreaderserver/common/crypt/*.class
/expreader-server/expreader-server-common/target/classes/com/chinafocus/expreaderserver/util/*.class
/expreader-server/expreader-server-dao/target/classes/com/chinafocus/expreaderserver/helper/aspect/*.class
/expreader-server/expreader-server-dao/target/classes/com/chinafocus/expreaderserver/helper/sql/*.class
/expreader-server/expreader-server-dao/target/classes/com/chinafocus/expreaderserver/mapper/*.class
/expreader-server/expreader-server-pojo/target/classes/com/chinafocus/expreaderserver/pojo/*.class
/expreader-server/expreader-server-pojo/target/classes/com/chinafocus/expreaderserver/vo/*.class
/expreader-server/expreader-server-search/target/classes/com/chinafocus/expreaderserver/search/config/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/annotation/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/aop/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/config/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/dataSource/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/enums/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/search/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/config/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/login/impl/mobile/pre/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/login/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/auth/post/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/email/post/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/email/pre/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/mobile/post/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/mobile/pre/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/*.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/tool/*.class
/expreader-server/expreader-server-timer/target/classes/com/chinafocus/expreaderserver/timer/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/component/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/config/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/expressController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/logController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/magzController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/newsController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/payController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/qrCodeController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/searchController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/sysController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/tipController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/tourBookController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/userCollectController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/userController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/controller/userHistoryController/*.class
/expreader-server/expreader-server-web/target/classes/com/chinafocus/expreaderserver/filters/*.class
/expreader-server/*.iml
/expreader-server/expreader-server-common/*.iml
/expreader-server/expreader-server-dao/*.iml
/expreader-server/expreader-server-pojo/*.iml
/expreader-server/expreader-server-search/*.iml
/expreader-server/expreader-server-service/*.iml
/expreader-server/expreader-server-timer/*.iml
/expreader-server/expreader-server-web/*.iml
/expreader-server/expreader-server-web/target/classes/META-INF/*.json
/expreader-server/expreader-server-api/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-common/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-dao/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-pojo/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-search/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-service/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-timer/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-web/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/expreader-server/expreader-server-web/target/classes/*.properties
/expreader-server/expreader-server-web/target/classes/*.txt
/expreader-server/expreader-server-dao/target/classes/mapping/*.xml
/expreader-server/expreader-server-web/target/classes/*.xml
/expreader-server/expreader-server-web/target/classes/spring/*.xml
/expreader-server/*.class
/expreader-server/*.properties
/expreader-server/*.xml
/expreader-server/*.lst
/expreader-server/*.log
/expreader-server/*.iml
/expreader-server/*.class
/expreader-server/*.properties
/expreader-server/expreader-server-web/target/
*.lst
*.log
*.iml
*.jar
*.txt
*.json
*.bak
/expreader-server/build/convention/config/application-mprod.properties
/expreader-server/build/convention/config/application-muat.properties
/expreader-server/build/convention/config/application-prod.properties
/expreader-server/build/convention/config/application-test.properties
/expreader-server/build/convention/config/application-uat.properties
/expreader-server/build/convention/config/application.properties
/expreader-server/expreader-server-api/target/maven-archiver/pom.properties
/expreader-server/expreader-server-common/target/maven-archiver/pom.properties
/expreader-server/expreader-server-dao/target/maven-archiver/pom.properties
/expreader-server/expreader-server-pojo/target/maven-archiver/pom.properties
/expreader-server/expreader-server-search/target/maven-archiver/pom.properties
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/login/impl/mobile/post/ThreeHKMobilePostLoginHandler.class
/expreader-server/expreader-server-service/target/classes/com/chinafocus/expreaderserver/service/reg/impl/qrcode/post/QRCodePostRegHandler.class
/expreader-server/expreader-server-service/target/maven-archiver/pom.properties
/expreader-server/expreader-server-timer/target/maven-archiver/pom.properties
*.iml
target/
build/
.DS_Store
catalina/
*.iml
log/
*.tar.gz
*.gz
.idea/*
.idea/
*.lock
*.data